@font-face {
  font-family: 'good_timesregular';
  src: local('good_timesregular'), url('./goodtimes_webkit/goodtimes-webfont.woff2') format('woff2'),
       local('good_timesregular'), url('./goodtimes_webkit/goodtimes-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
    /* font-family: 'good_timesregular', Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
